<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<body onload="initItemList()">
<br>
<h3>상품목록</h3>
<br>
<div style="float: right;">
    <button type="button" class="btn btn-primary" onclick="orderReg()">주문하기에 등록</button>
</div>
    <table border="1" class="table table-striped" id="itemList">
        <colgroup>
            <col width="50">
            <col width="100">
            <col width="300">
            <col width="300">
        </colgroup>
        <thead>
        <tr>
            <th>상품번호</th>
            <th>상품이름</th>
            <th>상품개수</th>
            <th>상품가격</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="item : ${productList}">
            <td th:text="${item.id}"></td>
            <td th:text="${item.productName}"></td>
            <td th:text="${item.price}"></td>
            <td th:text="${item.productCnt}"></td>
        </tr>
        </tbody>
    </table>
</body>
<script th:inline="javascript">
   function orderReg(id) {
      location.href = "/order/orderReg";
   }
</script>
</html>
