<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<body>
<div class="wrapper">
    <form th:object="${form}" method="post">
        <input type="hidden" th:field="*{productId}" />
        <div class="form-group">
            <label th:for="productName">상품명</label>
            <input type="text" th:field="*{productName}" class="form-control" placeholder="이름을 입력하세요" />
        </div>
        <div class="form-group">
            <label th:for="price">가격</label>
            <input type="number" th:field="*{price}" class="form-control" placeholder="가격을 입력하세요" />
        </div>
        <div class="form-group">
            <label th:for="productCnt">수량</label>
            <input type="number" th:field="*{productCnt}" class="form-control" placeholder="수량을 입력하세요" /> </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
</body>
</html>
