<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<body>
<div class="wrapper">
    <form role="form" action="/order/orderReg" method="post">
        <div class="form-group">
            <label for="member">주문회원</label>
            <select name="memberId" id="member" class="form-control">
                <option value="">회원선택</option>
                <option th:each="member : ${members}"
                        th:value="${member.memberId}"
                        th:text="${member.username}" />
            </select>
        </div>
        <div class="form-group">
            <label for="item">상품명</label>
            <select name="itemId" id="item" class="form-control">
                <option value="">상품선택</option>
                <option th:each="item : ${items}"
                        th:value="${item.id}"
                        th:text="${item.productName}" />
            </select>
        </div>
        <div class="form-group">
            <label for="count">주문수량</label>
            <input type="number" id="count" name="count" class="form-control" placeholder="주문 수량을 입력하세요">
            <div id="cntInfo"></div>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    <br/>
</div>
</body>
<script th:inline="javascript">
/*<![CDATA[*/
$(document).ready(function(){

    $('#item').on('change', function(){
        const itemId = this.value;
        const api_url = "/apiProduct/getProductCnt/" + itemId;

        $.ajax({
            url: api_url,
            type: "get"
        }).done(function (data) {

            const result = data.result;
            const cnt = data.cnt;

            if(result === "OK") {
                let message =  "이 상품은 "+cnt+"개 까지 주문 가능합니다.";
                $("#cntInfo").text(message);
            }
        }).fail(function(jqXHR) {
          console.log(jqXHR);
        });
    });

});
/*]]>*/
</script>
</html>