<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/themes/smoothness/jquery-ui.css}">
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
</head>
<body>
<br>
<h3>상품목록</h3>
<br>
<table class="table table-striped">
    <colgroup>
        <col width="50">
        <col width="100">
        <col width="300">
    </colgroup>
    <tr>
        <th>NO</th>
        <th>NAME</th>
        <th>DATE</th>
    </tr>
</table>
</body>
<script th:inline="javascript">
    $(document).ready(function(){
        api_url = "/product/getProductList";

        $.ajax({
            url: api_url,
            type: "get",
            success: function(data) {
                console.log(data);
            },
            error: function() {
                console.log('망함');
            }
        });
    });
</script>
</html>